.w3-theme-light {color:#000 !important;background-color:#FFEBEE !important;}
.w3-theme {color:#fff !important;background-color:#F44336 !important;}
.w3-theme-dark {color:#fff !important;background-color:#B71C1C !important;}
.w3-text-theme {color:#F44336 !important;}