.w3-theme-light {color:#000 !important;background-color:#f3e5f5 !important;}
.w3-theme {color:#fff !important;background-color:#9c27b0 !important;}
.w3-theme-dark {color:#fff !important;background-color:#4a148c !important;}
.w3-text-theme {color:#9c27b0 !important;}