.w3-theme-light {color:#000 !important;background-color:#ede7f6 !important;}
.w3-theme {color:#fff !important;background-color:#673ab7 !important;}
.w3-theme-dark {color:#fff !important;background-color:#311b92 !important;}
.w3-text-theme {color:#673ab7 !important;}