.w3-theme-light {color:#000 !important;background-color:#fbe9e7 !important;}
.w3-theme {color:#fff !important;background-color:#ff5722 !important;}
.w3-theme-dark {color:#fff !important;background-color:#d84315 !important;}
.w3-text-theme {color:#ff5722 !important;}