.w3-theme-light {color:#000 !important;background-color:#eceff1 !important;}
.w3-theme {color:#fff !important;background-color:#607d8b !important;}
.w3-theme-dark {color:#fff !important;background-color:#37474f !important;}
.w3-text-theme {color:#607d8b !important;}