.w3-theme-light {color:#000 !important;background-color:#fce4ec !important;}
.w3-theme {color:#fff !important;background-color:#e91e63 !important;}
.w3-theme-dark {color:#fff !important;background-color:#ad1457 !important;}
.w3-text-theme {color:#e91e63 !important;}