.w3-theme-light {color:#000 !important;background-color:#e0e0e0 !important;}
.w3-theme {color:#fff !important;background-color:#616161 !important;}
.w3-theme-dark {color:#fff !important;background-color:#424242 !important;}
.w3-text-theme {color:#616161 !important;}