.w3-theme-light {color:#000 !important;background-color:#b2dfdb !important;}
.w3-theme {color:#fff !important;background-color:#009688 !important;}
.w3-theme-dark {color:#fff !important;background-color:#00796b !important;}
.w3-text-theme {color:#009688 !important;}