.w3-theme-light {color:#000 !important;background-color:#E3F2FD !important;}
.w3-theme {color:#fff !important;background-color:#2196F3 !important;}
.w3-theme-dark {color:#fff !important;background-color:#0D47A1 !important;}
.w3-text-theme {color:#2196F3 !important;}
