.w3-theme-light {color:#000 !important;background-color:#eeeeee !important;}
.w3-theme {color:#000 !important;background-color:#9e9e9e !important;}
.w3-theme-dark {color:#fff !important;background-color:#616161 !important;}
.w3-text-theme {color:#616161 !important;}